body {
  background-image: url(img2.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 10px 280px;
  background-attachment: fixed;
  background-size: 350px;
  text-align: center;
  width: 700px;
  margin: 20px auto;
}

h3 { color: red; }

h4 { color: gray; font-style: italic;}

.menu {
  background-color: #D5B0AC;
  text-align: center;
  font-size: 0;
}

.menu span {
  display: inline-block;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color : #402E2A;
  width: 100px;
  height: 30px;
  padding-top: 3px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

span:hover {
  background-color: #9CD08F;
  color: #ffffff;
  cursor: pointer;
}

.menu.menu_vertical {
  display : inline-block;
}

.menu.menu_vertical span{
  display: block;
  border: 2px solid white;
}

.menu_vertical_in{
  display: none;
  position: absolute;
}

.menu_vertical_in span {
  display: block;
  margin-top: 1px;
}

.dropdown:hover .menu_vertical_in{
  display: block;
}

.menu_vertical_in_deep{
  display: none;
  position: absolute;
  left: 100%;
}

.menu_vertical_in_deep span {
  display: block;
  margin-top: 1px;
}

.dropdown_deep:hover .menu_vertical_in_deep{
  display: block;
}

.menu_vertical_in_deeper{
  display: none;
  position: absolute;
  left: 100%;
}

.menu_vertical_in_deeper span {
  display: block;
  margin-top: 1px;
}

.dropdown_deeper:hover .menu_vertical_in_deeper{
  display: block;
}

.temp {
  text-align: left;
}
